.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    background-color: #332E2E;
    margin: auto;
    border: 5px solid #BDC7A5;
    border-radius: 15px;
}

  #username {
    margin-top: 10px;
  }

  .btndiv{
    padding-top: 10px; 
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  #btn1 {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  
  .btnanim {
    background-color: #BDC7A5;
    box-shadow: 3px 5px 5px #888888;
    border-color: #BDC7A5;
    border-radius: 2px;
    transition: all 1s ease;
    transform: scale(1);
  }
  
  .btnanim:hover {
    background-color: #6B8B83;
    border-color: #6B8B83;
    transform: scale(2) perspective(1px) rotate(380deg);
  }

  .btnanim:active{
    background-color: #6B8B83;
    border-color: #6B8B83;
    outline: none !important;
    outline: none;
    box-shadow: 3px 5px 5px #888888 !important;
    -webkit-appearance: none;
  }

  .btnanim:focus{
    background-color: #6B8B83;
    border-color: #6B8B83;
    outline: none;
    box-shadow: 3px 5px 5px #888888 !important;
    -webkit-appearance: none;
  }

  .btnanim:active:focus {
    background-color: #6B8B83 !important;
    border-color: #6B8B83 !important;
    outline: none;
    box-shadow: 3px 5px 5px #888888 !important;
    -webkit-appearance: none;
  }
  .Login {
    padding-top: 40px;
  }