@import "color.scss";

.arrow {
    border: solid $color-four;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.userMessage {
    background-color: $color-four;
    border: solid $color-one;
    border-width: 3px;
    border-radius: 10px;
}

.botMessage {
    background-color: $color-two;
    border: solid $color-one;
    border-width: 3px;
    border-radius: 10px;
}

.messageContainer {
    background-color: $color-three;
    max-height: 120px !important;
    min-height: 120px !important;
    overflow-y: auto;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.assistantContainer {
    background-color: $color-four;
    width: 15%;
    position: absolute;
    right: 50px;
    bottom: 0px;
}

.assistantTextInput {
    border: solid $color-one;
    border-width: 3px;
    border-radius: 10px;
}

.assistantExpandButton {
    background-color: $color-one;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.assistantSendButton {
    background-color: $color-one;
    width: 100%;
    border: solid $color-one;
    border-width: 3px;
    border-radius: 10px;
}

.collapsing {
    position: absolute !important;
    bottom: 38px !important;
    padding: 2% !important;
}

.assistantWrapper {
    background-color: $color-four;
    color: $color-one;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    margin: auto;
    border: solid $color-one;
    border-width: 3px 3px 3px 3px;
    border-radius: 15px 15px 0 0;
    padding: 2%;
}